.dadosCategorias{
  padding: 30px;
}

.tabela {
  width: 100%;
  padding-top: 30px;
}

.cabecalho {
  padding-top: 30px;
  padding-bottom: 30px;
}

.titulo {
  padding: 30px;
  position: absolute;
  font-weight: bold;
  left: 5px;
}

#btn-nova-categoria {
  margin-left: 30px;
  margin-bottom: 30px;
}
